@import "tailwindcss";

* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background: 208 208 208;
  --input: 59 130 246;
  --field-background: 102, 156, 217;

  @layer components {
    .input-style {
      @apply rounded-lg bg-[rgb(var(--field-background))] px-4 py-3 placeholder:text-blue-950 outline-white focus:ring-1 min-w-full;
    }
    .field {
      @apply rounded-lg bg-[rgb(var(--field-background))] text-blue-950 p-6;
    }
    .button {
      @apply rounded-4xl p-1 px-5 bg-gradient-to-b bg-gradient-to-r from-amber-200 to-yellow-500 text-white cursor-pointer transition-transform duration-300 hover:scale-105;
    }
    .main-text {
      @apply text-black;
    }
    .secondary-text {
      @apply text-blue-950;
    }
  }
}

/* Dark theme */
.dark-theme {
  --background: 2 2 18;
  --field-background: 30 30 33;

  @layer components {
    .input-style {
      @apply rounded-lg bg-[rgb(var(--field-background))] px-4 py-3 placeholder:text-white outline-white text-white focus:ring-1 min-w-full;
    }
    .field {
      @apply rounded-lg bg-[rgb(var(--field-background))] text-zinc-400 p-6;
    }
    .button {
      @apply rounded-4xl p-1 px-5 bg-gradient-to-b from-sky-600 via-cyan-400 to-blue-600 text-white cursor-pointer transition-transform duration-300 hover:scale-105;
    }
    .main-text {
      @apply text-white;
    }
    .secondary-text {
      @apply text-zinc-400;
    }
  }
}
